.container {
  background-color: #3d434e;
  width: 100%;
  height: 100%;
}

.inner-container {
  background-color: #11151d;
  width: 80%;
  height: 80%;
  margin: 50px;
  padding: 50px;
  border-radius: 5vw;
  -webkit-border-radius: 5vw;
  -moz-border-radius: 5vw;
  -ms-border-radius: 5vw;
  -o-border-radius: 5vw;
}

.buttons {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
}
