header {
  background-color: #163f57;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
